<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <p>If you’re having trouble finding us or need some suggestions on what to attend, do contact us in or call our office at
      <a href=tel:+6567452887>+65 6745 2887</a>. For urgent matters, you may also contact Pastor Christopher Chern at <a href=tel:+6598759808>+65 9875 9808</a>.</p>
    <ul class="contact">
      <li class="fa-phone">
        <a href=tel:+6567452887>+65 6745 2887</a>
      </li>
      <li class="fa-envelope">
        <a href="mailto:office@gbm.sg?Subject=gbm.sg%20Contact%20Form">office@gbm.sg</a>
      </li>
      <li class="fa-home">
        <a href="https://goo.gl/maps/55FGkrEbUf72">
          146B Paya Lebar Road,
          <br/>
          ACE Building, #05-01<br/>
          Singapore 409017</a>
      </li>
    </ul>
    <ul class="contact">
      <li class="fa-twitter">
        <a href="https://twitter.com/gracebaptistmin">twitter.com/gracebaptistmin</a>
      </li>
      <li class="fa-facebook">
        <a href="https://www.facebook.com/gbmsg">facebook.com/gbmsg</a>
      </li>
      <li class="fa-instagram">
        <a href="https://www.instagram.com/gbmyouth/">instagram.com/gbmyouth/</a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; Grace Baptist Ministries.</li>
      <li>Design:
        <a href="http://html5up.net">HTML5 UP</a>
      </li>
    </ul>
  </div>
</section>

</div>

<!-- Scripts -->
<script type="text/javascript" src="/assets/js/skel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrollex.min.js"></script>
<script type="text/javascript" src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>
